

@main("MSCS510 Demo") {
<main id="main-content" ng-controller='dashboardController' ng-init="loadAllSections()">


    <div id="top-bar">
        <div class="title">
            MCSD - LMS
        </div>
        <div class="user-info-bar">
            <div class="user-icon"><img src="assets/images/default-user.png" class="user-pic-style"/></div>
            <div class="user-info">{{name}} <i class="fa fa-chevron-down"></i></div>
            <div class="clear-fix"></div>
        </div>
        <div class="clear-fix"></div>
    </div>
    <div id="wrapper">
        <div id="left-bar">
            <div class="content">

                <div class="user-info-block">
                    <img src="assets/images/default-user.png" class="user-pic-style"/>
                    <div class="user-title">{{name}}</div>
                </div>

                <ul class="list-links">
                    <a href="http://127.0.0.1:8888/dashboard" ><li><i class="fa fa-home"></i> Dashboard</li></a>
                    <a href="http://127.0.0.1:8888/addSection"><li class="active"><i class="fa fa-pencil-square-o"></i> Add Section</li></a>
                    <a href="http://127.0.0.1:8888/dropSection"><li><i class="fa fa-files-o"></i> Drop Section</li></a>

                    <a href="#" ng-click="logout()"><li><i class="fa fa-share"></i> Logout</li></a>
                </ul>
            </div>
        </div>
        <div id="containor">
            <div class="home-header">Add Sections</div>
            <table class="table-of-contents">
                <tr><th>S.No</th>
                    <th>Section Name</th>
                    <th>Section Code</th>
                    <th>Action</th>
                </tr>

                <tr ng-repeat="sec in mySections">
                    <td>{{$index + 1}}</td>
                    <td>{{sec.name}}</td>
                    <td>{{sec.sectionNumber}}</td>
                    <td><input type="hidden" ng-model="uid" ><input type="button" value="Add" ng-click="addSection(uid,sec.id)"> </td>
                </tr>


            </table>
            <div class="footer">LMS : Software Design & Development Project.</div>
        </div>
        <div class="clear-fix"></div>

</main>


}