@(sections: java.util.List[models.Section])

@main("MSCS510 Demo") {
<main id="main-content">
    <h1>This is cool!</h1>
    Sections: @sections.size() sections!

    <form id="addSection">
        Name:<input type="text" name="sectionName" id="sectionName" />
        Section Number:<input type="text" name="sectionNumber" id="sectionNumber" required />
        is published?:<input type="text" name="sectionPublished" id="sectionPublished" />


        <input type="button" name="addNewSection" id="addNewSection" onclick="doSomething();" value="Add a new section" />
    </form>



    <div id="myDataGoesHere">
        @for(section <- sections) {
            Hi this is section: @section.name!<br />
        }

    </div>


</main>

<script>
function doSomething() {
    var name = $("#sectionName").val();
    var sectionPublished = $("#sectionPublished").val();
    var sectionNumber = $("#sectionNumber").val();

    $.get( "http://localhost:8888/saveSection/" + name + "/" + sectionNumber + "/" + sectionPublished, function( data ) {
        $( ".result" ).html( data );
        alert( "Load was performed. you got! ");
    });
}

</script>

}